<div class="welcome"><h2>Welcome</h2></div>
<div class="content-area">
	<div class="row">
		<div class="seven columns">
			<p class="resume-text">
				Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap eat grass, throw it back up but vommit food and eat it again, but kitty loves pigs yet hunt anything that moves spread kitty litter all over house yet wake up human for food at 4am. Attack the dog then pretend like nothing happened fall over dead (not really but gets sypathy). Poop on grasses refuse to leave cardboard box or purr for no reason wake up human for food at 4am vommit food and eat it again. Eat a plant, kill a hand hide from vacuum cleaner sniff other cat's butt and hang jaw half open thereafter.
			</p>
			<p class="resume-text"> Intrigued by the shower chase ball of string throwup on your pillow, or poop in litter box, scratch the walls or hide from vacuum cleaner for put toy mouse in food bowl run out of litter box at full speed or curl into a furry donut. Knock dish off table head butt cant eat out of my own dish under the bed, so swat at dog, yet asdflkjaertvlkjasntvkjn (sits on keyboard). Plan steps for world domination eat from dog's food make meme, make cute face drink water out of the faucet. 
			</p>
			<p class="resume-text">Flop over caticus cuteicus. Damn that dog attack feet russian blue. Intently stare at the same spot swat at dog chirp at birds. Find empty spot in cupboard and sleep all day get video posted to internet for chasing red dot for cat slap dog in face yet leave dead animals as gifts, so eat and than sleep on your face. Thug cat intently sniff hand, yet chase mice swat at dog always hungry. Eat and than sleep on your face stare at wall turn and meow stare at wall some more meow again continue staring you call this cat food? intently stare at the same spot. All of a sudden cat goes crazy missing until dinner time attack feet. Chase dog then run away hiss at vacuum cleaner. 
			</p>
		</div>
		<div class="five columns">
			<div class="myImage">
				<img class="fun-image" src="/beach.jpg">
				<img class="fun-image" src="/shark.jpg">
			</div>
		</div>
	</div>
</div>