.content-area
  .welcome
    %h2 Welcome
  .row
    .seven.columns
      %p.resume_text
        I got my start producing live theatre in New York City. I dabbled in short films before transitioning into television as a field producer for “America’s Most Wanted” on FOX.
      %p.resume_text
        These past twelve years working in television, live theater, music videos and film production have brought me to scores of cities throughout the USA and beyond; from haunted castles in England to beach bungalows on remote islands. I thrive on the adventure that comes with every new project, and value the friendships I’ve forged in the field.
      %p.resume_text
        As a production manager and line producer, I believe in doing everything possible to make sure the creative team can completely focus on making a quality product. Producers should never worry about how everyone will be transported to and from set. Camera operators should never wonder whether they will have a hot meal after 6 hours. My teams feel supported and appreciated, and that allows them to create the very best project in their power.
    .five.columns
      .myImage
        = image_tag "/napaIntv.jpg", class:"fun-image"
        = image_tag "/aboutme.jpg", class:"fun-image"
        = image_tag "/beach2.jpg", class: "fun-image"
