<div class="content-area">
	<h2 class="welcome">Freelance Production Manager for Film and Television</h2>
	<div class="carousel">
		<div class="photo-div"><%= image_tag("/hgtv.png", class: "resize") %></div>
		<div class="photo-div"><%= image_tag("/vh1.png", class: "resize") %></div>
		<div class="photo-div"><%= image_tag("/bio.svg", class: "resize") %></div>
		<div class="photo-div"><%= image_tag("/viceland.png", class: "resize") %></div>
	</div>
</div>