<script type="text/javascript">
$(window).ready(function(){
  $('.carousel').slick({
    dots: true,
    infinite: true,
    speed: 300,
    centerMode: true,
    variableWidth: true,
    variableHeight: true,
    arrows: true,
    cssEase: 'linear'
  });
});
</script>
<div class="content-area">
	<h1 class="welcome">Freelance Production Manager for Film and Television</h1>
	<div class="carousel">
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x550"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
	</div>
</div>