
<div class="content-area">
	<h1>Freelance Production Manager for Film and Television</h1>
	<div class="carousel">
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x550"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
		<div class="photo-div"><img src="http://placehold.it/650x450"></div>
	</div>
</div>