<div class="content-area">
<h1>My Projects</h1>

<div class="row">
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>

</div>
<div class="row">
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
</div>
<div class="row">
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
	<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
		<div class="four columns listWork">
		<h3>The Haunting Of</h3>
		<p>Jarrett Creative</p>
		<p>Feb '12 - Jan '16</p>
		<p>Celebrity / Travel Series</p>
		<p>BIO / LMN</p>
		<p>Production Manager</p>
	</div>
</div>



<h4>Download a pdf of my resume here. <a href='/jrs_resume.pdf' download><i class="fa fa-download fa-lg"></i></a></h4>
</div>