.content-area
  .row
    .six.columns
      %h2.work-welcome{:name => "top"} My Projects
    .six.columns
      %button.u-pull-right.download-button
        =link_to "Download Resume", "https://www.dropbox.com/s/w6efo086i13sk3e/Jenny%20Rose%20Resume%20Aug%202016.pdf?dl=0", class: "downloadlink"
        %i.fa.fa-download.download
  .row
    .four.columns.listWork.bounce-up
      %h4.job-header Development
      %p Lucky 8 TV
      %p July '16' - present
      %p Various Development Projects
      %p Multiple Networks
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Gaycation
      %p VICE Media
      %p March '16 - Jul '16'
      %p Documentary / Travel Series
      %p VICELAND
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header The Haunting Of...
      %p Jarrett Creative
      %p Feb '12 - Jan '16
      %p Celebrity / Travel Series
      %p BIO / LMN
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Vacation House For Free
      %p Departure Films
      %p Oct '14 - Jul '15
      %p Home Renovation / Travel Series
      %p HGTV
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header This is Hot 97
      %p Eastern / NFGTV
      %p Oct '13 - Feb '14
      %p Mocumentary Comedy Series
      %p VH1
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Chrissy and Mr. Jones
      %p Eastern / NFGTV
      %p Jun - Oct '13
      %p Follow-Doc Reality Series
      %p VH1
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Boston's Finest
      %p Jarrett Creative
      %p Dec '12 - Feb '13
      %p Follow-Doc Cop Series
      %p TNT
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Mansome
      %p Warrior Poets
      %p Jun - Nov &#x2018;12
      %p Comedy Web Series
      %p Yahoo! Screen
      %p Associate Producer
    .four.columns.listWork.bounce-up
      %h4.job-header School Spirits
      %p Jarrett Creative
      %p Mar - May &#x2018;12
      %p Interview / Recreation Series
      %p SYFY
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Celebrity House Hunting
      %p Departure Films
      %p Sep &#x2019;11 - Mar &#x2018;12
      %p House Hunting / Travel Series
      %p BIO
      %p Production Manager
    .four.columns.listWork.bounce-up
      %a{:href => "http://www.youtube.com/watch?v=dcZu9EQBpk0", :target => "new"}
        %h4.job-header Money From Strangers
      %p Lion Television
      %p Jul - Sept &#x2018;11
      %p Hidden Camera Game Show
      %p MTV
      %p Field Production Manager  2nd AD
    .four.columns.listWork.bounce-up
      %h4.job-header Work of Art
      %p Magical Elves
      %p 2009 - 2011
      %p Reality Competition Series
      %p BRAVO
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Mob Wives
      %p Left/Right
      %p Mar - Jul &#x2018;11
      %p Follow-Doc Reality Series
      %p VH1
      %p Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header Saved
      %p Picture Shack
      %p Jan - Apr &#x2018;11
      %p Documentary / Travel Series
      %p Animal Planet
      %p Production Coordinator
    .four.columns.listWork.bounce-up
      %h4.job-header The Haunted
      %p Picture Shack
      %p Oct '10 - Jan &#x2018;11
      %p Documentary / Travel Series
      %p Animal Planet
      %p Production Coordinator
    .four.columns.listWork.bounce-up
      %h4.job-header Bridge  Tunnel
      %p MTV Networks
      %p May - Oct &#x2018;10
      %p Follow-Doc Reality Series
      %p MTV
      %p Production Coordinator
    .four.columns.listWork.bounce-up
      %h4.job-header Happy New Year
      %p Happy New Year LLC
      %p 2009
      %p Feature Film
      %p Festival  Limited Theatrical Release
      %p Unit Production Manager
    .four.columns.listWork.bounce-up
      %h4.job-header America's Most Wanted
      %p FOX Network
      %p 2005-2006
      %p Reality Crime series
      %p FOX
      %p Field Producer
    .four.columns.listWork.bounce-up
      %h4.job-header World of Wealth
      %p Re:Source Media
      %p 2004-2005
      %p Interview Series
      %p Wealth TV
      %p Field Producer
  .up
    %a{:href => "#top"}
      %i.fa.fa-arrow-up.fa-lg
