.content-area {
	background-color: rgba(236, 240, 241, 0.8);
	height: 100%;
	margin-bottom: 4.5em;
	margin-top: .5em;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 4px;
}

/*Index*/
.carousel {
	max-width: 100%;
	height: auto;
	display: block;
}

.photo-div {
	padding: 0 5px 0 5px;
}

.resize {
	width: 50%;
	height: auto;
	/*padding-top: 10px;*/
	text-align: center;
	margin: 0 auto;
}

.shorty {
	margin-top: 34px
}

.welcome {
	text-align: center;
}

/* Contact Page */
.top_row {
	margin-bottom: .6em;
}

.user_message {
	resize: none;
	min-height: 200px;
}

.form_field {
	margin-left: 10px;
	margin-right: 10px;
}

.button_area {
	margin-right: 10px;
}

#sendButton {
	background-color: rgba(127, 140, 141,0.8);
	min-width: 5em;
}

#sendButton:hover {
	background-color: rgba(44, 62, 80,1.0);
	color: white;
	transition: width 100%;
}

/*Work Page*/

.listWork {
	border: 0.1em solid rgba(189, 195, 199,1.0);
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 1em;
	-webkit-box-shadow: 0 8px 6px -6px #2c3e50;
	-moz-box-shadow: 0 8px 6px -6px #2c3e50;
	box-shadow: 0 8px 6px -6px #2c3e50;
}

.listWork p {
	font-family: 'Garamond';
	font-size: 1.1em;
}

.listWork:hover {
	-webkit-box-shadow: 1px 13px 45px -16px #34495e;
	-moz-box-shadow: 1px 13px 45px -16px #34495e;
	box-shadow: 1px 13px 45px -16px #34495e;
}

.job-header {
	font-family: 'QuarkBold', sans-serif;
	font-size: 2em;
}

.download {
	padding-top: 4px;
}

.download-button {
	background-color: rgba(44, 62, 80,1.0);
	font-size: 1em;
	margin-top: .5em;
}

.download-button:hover {
	background-color: rgba(236, 240, 241,0.5);
}

.download-button:hover .downloadlink {
	background-color: rgba(236, 240, 241,0.5);
	color: rgba(44, 62, 80,1.0)
}

a.downloadlink {
	color: rgba(236, 240, 241,1.0);
	text-decoration: none;
}

.up {
	margin-left: 50%;
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*About*/

.resume_text {
	font-size: 1.2em;
	font-family: "Garamond";
}

.helper_text {
	font-size: 1em;
	font-family: "Garamond";
}

/**********/
/* Media Query
/**********/

@media (max-width: 700px) {
	.photo-div {
		width: 100vw;
	}

	.resize {
		width: 75%;
		height: auto;
		text-align:center;
		margin: 0 auto;
	}
}
