.content-area {
	background-color: rgba(236, 240, 241, 0.8);
	height: 100%;
	margin-bottom: 4.5em;
	margin-top: .5em;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 4px;
}

/*Index*/
.carousel {
	width: 100%;
}

/* Contact Page */
.top_row {
	margin-bottom: .6em;
}

.user_message {
	resize: none;
	min-height: 200px;
}

.form_field {
	margin-left: 10px;
	margin-right: 10px;
}

.button_area {
	margin-right: 10px;
}

#sendButton {
	background-color: rgba(127, 140, 141,0.8);
	min-width: 5em;
}



#sendButton:hover {
	background-color: rgba(44, 62, 80,1.0);
	color: white;
	transition: width 100%;
}

/*Work Page*/

.listWork {
	border: 0.1em solid rgba(189, 195, 199,1.0);
	border-radius: 2px;
	padding: 5px;
	margin-bottom: 1em;
	-webkit-box-shadow: 0 8px 6px -6px #2c3e50;
	-moz-box-shadow: 0 8px 6px -6px #2c3e50;
	box-shadow: 0 8px 6px -6px #2c3e50;
}

.listWork p {
	font-family: QuarkBold;
	font-size: 1.2em;
}

.listWork:hover {
	-webkit-box-shadow: 1px 13px 45px -16px #34495e;
	-moz-box-shadow: 1px 13px 45px -16px #34495e;
	box-shadow: 1px 13px 45px -16px #34495e;
}

.job-header {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}

.download {
	padding-top: 4px;
}

.download-button {
	background-color: rgba(44, 62, 80,1.0);
	font-size: 1em;
	margin-top: .5em;
}

.download-button:hover {
	background-color: rgba(236, 240, 241,0.5);
}

.download-button:hover .downloadlink {
	background-color: rgba(236, 240, 241,0.5);
	color: rgba(44, 62, 80,1.0)
}

a.downloadlink {
	color: rgba(236, 240, 241,1.0);
	text-decoration: none;
}

/*a.downloadlink:hover {
	color: black;
	text-decoration: none;
}*/


/*About*/

.resume-text {
	font-size: 1.5em;
}
