<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jenny Rose Starwalt</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Skeleton -->
	<link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<!-- Font Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Personal Styles -->
	<link rel="stylesheet" type="text/css" href="stylesheets/main_style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/contentpages.css">

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<h1 class="page-header"><a href="/">Jenny Rose Starwalt</a></h1>
			</div>
			<div class="row">
				<div class="twelve columns">
					<nav class="full_nav">
						<ul class="nav-list">
							<li class="nav-item"><a class="button nav-button" href="/about">Me</a></li>
							<li class="nav-item"><a class="button nav-button" href="##">Work</a></li>
							<li class="nav-item"><a class="button nav-button" href="/contact">Contact</a></li>
						</ul>	
					</nav>
				</div>
			</div>feafeafe
		</div>
		<hr>
		<div class="container">
			<%= yield %>
		</div>
	</div>
	<footer class="bottom">
		<div class="footer-content">
			<div class="row">
				<div class="twelve cat-image">
					<button id="catButton" class='cat-button'>
						<img class="cat" src="images/cat17.svg">
					</button>
				</div>	
			</div>
			<div id="copyrightArea" class="row copyright-area">
				<div class="twelve columns copyright"><p>&copy; JennyRose.com</p>
				</div>
			</div>
		</div>
	</footer>
	<script async src="scripts/movements.js"></script>

</body>
</html>